a, abbr, acronym, address, applet, big, blockquote, body, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, ul, var {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: .44rem;
    font-family: DinPro,dinpro,PingFangSC-Regular,sans-serif;
}

._2ISqRn5_D6Meno-qH4fY2Q .jRby5f0n0_2qiSvuLy0TV {
    position: relative;
    min-width: 1.2rem;
    border-radius: .1rem;
    color: #fff;
    -webkit-animation: _2CnV7cVPcaZ6mOTZEVnNSS .3s ease forwards;
    animation: _2CnV7cVPcaZ6mOTZEVnNSS .3s ease forwards;
    line-height: 1.5;
    padding: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1000;
}

#app, #app:first-child {
    width: 100%;
    height: 100%;
}

#app {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.emerge-container {
    width: 100%;
    height: 100%;
}

._2-WHip5LzmLgo5uwItelaD {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


._1ZSh4_ifUiOZ-9MO_2x9h9 {
    width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .64rem;
    background-image: url(img/background.jpg?0512);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._3uSW4ezWTs3o3U9DfY5NoY {
    padding: 1rem 0 .1rem;
    text-align: center;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._3uSW4ezWTs3o3U9DfY5NoY img {
    height: .84rem;
    width: auto;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._3uAELNSJRlnOu3ocRPQgyB {
    height: 1rem;
    line-height: 1rem;
    color: #414655;
    font-size: .72rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._1pST14bGJr20h-cnCVcDA1 {
    margin: .12rem 0 .28rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._1pST14bGJr20h-cnCVcDA1 span {
    font-size: .28rem;
    line-height: .4rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._22wZDFcRVGKuZutkr3mMSE {
    font-family: DinPro;
}


._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 .k-xLz9qCToE9XhOmX7zns {
    height: auto;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 .k-xLz9qCToE9XhOmX7zns img {
    width: 100%;
    height: 100%;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._1s_yudyrLFgLASDYIh1Kbq {
    min-height: 1.6rem;
    margin: .4rem 0 .4rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._1s_yudyrLFgLASDYIh1Kbq h5, ._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._1s_yudyrLFgLASDYIh1Kbq p {
    font-size: .28rem;
    color: #414655;
    line-height: .4rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._3g8wKDGe4ewm66rWffbahp {
    color: #6aaaf5;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._36v-3wgLmEwxzbqlpBdjaW {
    font-size: .28rem;
    margin-bottom: .5rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 ._3g8wKDGe4ewm66rWffbahp {
    color: #6aaaf5;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 footer {
    height: 2.82rem;
    padding-bottom: .68rem;
}

._1ZSh4_ifUiOZ-9MO_2x9h9 ._1G34rx3Ko_zh4CvMG11LR8 footer img {
    height: 100%;
    width: auto;
}


/*按钮*/
.diversion-btn.type1 {
    margin: 5px 0;
    padding: 20px;
    background: -webkit-gradient(linear,left top,right top,from(#0083ff),to(#16d6ff));
    background: linear-gradient(to right,#8d9def,#a6b3f5);
}

.diversion-btn.type2 {
    margin: 5px 0;
    padding: 20px;
    background: -webkit-gradient(linear,left top,right top,from(#0083ff),to(#16d6ff));
    background: linear-gradient(to right,#d85656,#c18585);
}

.diversion-btn.type3 {
    margin: 5px 0;
    padding: 20px;
    background: -webkit-gradient(linear,left top,right top,from(#0083ff),to(#16d6ff));
    background: linear-gradient(to right,#bdc6f5,#bdc6f5);
}

.diversion-btn {
    position: relative;
    display: block;
    width: 240px;
    line-height: 1;
    border-radius: 56px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fa, .fas {
    font-weight: 900;
    font-size: .4rem;
}

.fas1 {
    font-weight: 900;
    font-size: .4rem;
}


.z-10 {
    z-index: 10;
}

.text-white {
    color: #fff;
    text-decoration:none;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.fixed {
    position: fixed;
}
.pl-8 {
    padding-left: 2rem;
}
.p-2 {
    padding: .1rem;
}
.mt-4 {
    margin-top: .1rem;
}

.bg-black {
    background-color: #ef82b0;
}
